extends layout
block content

    - var scope = viewModel.scope;
    div.row
        div.col-sm-4
            div.panel.panel-primary
                div.panel-heading.bg-primary
                    div.panel-title Scope Information
                form.form-horizontal.panel-body(method="post" action="/updatescope")
                    div.form-group.form-inline
                        label.col-sm-4.control-label Serial
                        div
                            input.form-control(type="text" name="new_serial" value=scope.serial)
                            input.form-control(type="hidden" name="serial")
                    div.form-group.form-inline
                        label.col-sm-4.control-label Hospital
                        div
                            input.form-control(type="text" name="hospital" value=scope.hospital)
                    div.form-group.form-inline
                        label.col-sm-4.control-label Current Assignment
                        div
                            select.form-control(name='assignment')
                                each assignKey in Object.keys(viewModel.boardTypes)
                                    if (assignKey === scope.assignment)
                                        option(value=assignKey selected="selected")= viewModel.boardTypes[assignKey]
                                    else
                                        option(value=assignKey)= viewModel.boardTypes[assignKey]
                    div.form-group.form-inline
                        label.col-sm-4.control-label Current Priority
                        div
                            select.form-control(name="priority")
                                each level in Object.keys(viewModel.priorityLevel)
                                    if (level === scope.priority)
                                        option(value=level selected="selected")= viewModel.priorityLevel[level]
                                    else
                                        option(value=level)= viewModel.priorityLevel[level]
                    div.form-group.form-inline
                        label.col-sm-4.control-label Date Added
                        div.form-control-static= scope.date
                    div#updateSubmit
                        button.btn.btn-primary(name="submit" value="Update Scope") Update Scope
        div.col-sm-4
            div.panel.panel-primary
                div.panel-heading.bg-primary
                    div.panel-title Add RMA
                form.form-horizontal.panel-body(method="post" action="/updatescope")


    div.row
        div.panel.panel-primary
            div.panel-heading.bg-primary
                div.panel-title Scope History

            div.panel-body
                table.table
                    tr.subTableHeader
                        th Serial
                        th Hospital
                        th RMA
                        th Client
                        th Assignment
                        th Priority
                        th Updated
                    each status in viewModel.scope.status
                        tr
                           td= status.serial
                           td= status.hospital
                           td= status.rma
                           td= status.client
                           td= viewModel.boardTypes[status.assignment]
                           td= viewModel.priorityLevel[status.priority]
                           td= status.updated_time