extends layout
block content
    div(style="margin-left: auto; margin-right: auto;")
        if (viewModel.message)
            div.sessionMessage= viewModel.message
        div.tableContainer
            h2.mainTableHeader Manage scopes
            div.table

                div.subTableHeader
                    div Serial
                    div Hospital
                    div Assignment
                    div Priority
                each item in viewModel.scopes
                    div
                        div
                            a(href="/manage/scope/" + item.serial)=item.serial
                        div= item.hospital
                        form(action="/updatescope" method="post")
                            input(type="hidden" name="serial" value=item.serial)
                            select(name='assignment' onchange="this.form.submit()")
                                each assignKey in Object.keys(viewModel.assignment)
                                    if (assignKey === item.assignment)
                                        option(value=assignKey selected="selected")= viewModel.assignment[assignKey]
                                    else
                                        option(value=assignKey)= viewModel.assignment[assignKey]
                        form(action='/updatescope' method='post')
                            input(type="hidden" name="serial" value=item.serial)
                            select(name="priority" onchange="this.form.submit()")
                                each level in Object.keys(viewModel.priorityLevel)
                                    if (level === item.priority)
                                        option(value=level selected="selected")= viewModel.priorityLevel[level]
                                    else
                                        option(value=level)= viewModel.priorityLevel[level]
        if (!viewModel.inactive)
            div(style="width: 400px; margin: auto; margin-bottom: 25px;")
                h2.mainTableHeader Add a new scope
                form(method="post" action="/addscope").table
                    div.loginRow
                        label Serial
                        input(type="text" name="serial")
                    div.loginRow
                        label Hospital
                        input(type="text" name="hospital")
                    div.loginRow
                        label RMA
                        input(type="text" name="rma")
                    div.loginRow
                        label Client
                        input(type="text" name="client")
                    div.loginRow
                        label Assignment
                        select(name='assignment')
                            each assignKey in Object.keys(viewModel.assignment)
                                option(value=assignKey)= viewModel.assignment[assignKey]
                    div.loginRow
                        label Priority
                        select(name="priority")
                            each pri in Object.keys(viewModel.priorityLevel)
                                if (pri === "norm")
                                    option(value=pri selected='selected')= viewModel.priorityLevel[pri]
                                else
                                    option(value=pri)= viewModel.priorityLevel[pri]
                    div.loginRow
                        input.button(type="submit" value="Add Scope")
                        div